<!-- Show one discussion topic -->
<div class="center jumbotron">
  <h2>
    Title:  <%= @post.title %><br><br>
    Comment:  <%= @post.content %><br><br>
    Started by: <%= User.find(@post.user.id).username %>
  </h2>
</div>

<!-- Show all the comment replies -->
<h1>
  Reply:
</h1>
<% @post.comments.each do |comment| %>
  <div class="center jumbotron">
      <div>Author:  <%= comment.author %></div>
      <div>Comment: <%= comment.comment %></div>
      <div><%= link_to 'Edit', edit_comment_path(:comment => comment.id) %></div>
        <% if comment.avatar.to_s != "/images/original/missing.png" %>
            <div><%= image_tag comment.avatar.url %></div>
        <% end %>
  </div>
<% end %>

<!-- Add New Comment -->
<div class="center jumbotron">
<h2>Submit a reply</h2>

<%= form_for(@comment ,:url => {:action => :new_comment, :controller => :post} ) do |f| %>

  <%= hidden_field_tag :post_id, @post.id %>

    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </div><br>
    <div>
      <%= f.file_field :avatar %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit', class: "btn btn-primary"  %>
    </div>
<% end %>
</div>

<!-- SEARCH BOX -->
<div class="center jumbotron">
    <%= form_tag("/comment_search/find_author", method: "post") do %>
      <%= label_tag(:author, "Author Search:") %>
      <%= text_field_tag(:author) %>
      <%= submit_tag("Search")  %>
    <% end %><br>
  <%= link_to "Go back", post_path %>  
</div>