<!-- Show one discussion topic -->
<div class="center jumbotron">
Title: <%= @post.title %><br>
Comment: <%= @post.content %><br>
</div>

<!-- Show all the comment replies -->
<h1>
  Reply:
</h1>
<div class="center jumbotron">
  <% @post.comments.each do |comment| %>
      <div>Author:  <%= comment.author %></div>
      <div>Comment: <%= comment.comment %></div>
      <div><%= link_to 'Edit', edit_comment_path(:comment => comment.id) %></div>
        <% if comment.avatar.to_s != "/images/original/missing.png" %>
            <div>Photo: <%= image_tag comment.avatar.url %></div>
        <% end %>
  <% end %>
</div>

<!-- Add New Comment -->
<div class="center jumbotron">
<h2>New Comment or Reply</h2>

<%= form_for(@comment ,:url => {:action => :new_comment, :controller => :post} ) do |f| %>

  <%= hidden_field_tag :post_id, @post.id %>

    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </div><br>
    <div>
      <%= f.file_field :avatar %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit', class: "btn btn-primary"  %>
    </div>
<% end %>
</div>

<!-- SEARCH BOX -->
<div class="center jumbotron">
    <%= form_tag("/comment_search/find_author", method: "post") do %>
      <%= label_tag(:author, "Author Search:") %>
      <%= text_field_tag(:author) %>
      <%= submit_tag("Search")  %>
    <% end %>
</div>